<div class="right_col" role="main"  ng-controller="navBarController" ng-init="initializeBar()" >

    <div class="row tile_count" ng-init="getCurrentResult()">
        <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count" style="alignment: center">
            <span class="count_top"><i class="fa fa-user"></i> Result </span>
            <div class="count">{{predictedValue}}</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Accuracy </span>
            <div class="count"> {{accuracyValue}} %</div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Number of Readings</span>
            <div class="count green">{{no_of_readings}}</div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="x_panel">
                <div class="x_title">

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div id="container1" class="col-md-12 col-sm-12 col-xs-12"></div>

            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" ng-init="getUserReports()">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Test Reports </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <p>Select a test report to view results</p>

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <input type="radio" id="check-all" class="flat" ng-hide="true">
                                </th>
                                <th class="column-title">Report ID</th>
                                <th class="column-title">Date Taken</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer" ng-repeat="report in reports">
                                <td class="a-center " ng-click="viewReport(report)">
                                    <input type="radio" class="flat" name="table_records">
                                </td>
                                <td class=" ">{{report.id}}</td>
                                <td class=" ">{{report.date_taken}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>View Graph Of Selected Feature In Selected Report</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" >

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Feature <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select  id="reportFeature" name="reportFeature" class="select2_group form-control" ng-model="reportFeatureSelected" ng-options="feature as feature for feature in reportFeatures">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                <button id="send" type="submit" class="btn btn-success" ng-click="drawGraph(reportFeatureSelected)">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="x_title" >
            <h2>Chart showing the values collected for selected feature</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="container"></div>

        <div class="x_title">
            <h2>Chart showing the values collected for unhealthy and healthy people from dataset feature</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="container2"></div>


    </div>
</div>