<div class="container-fluid main-container" style="background-color: white">
    <div class="row blank-space" >
{{control}}
    </div>
    <div class="row blank-space">
{{control}}
    </div>

    <div class="row login-box">
        <div class=" col-sm-6 col-sm-offset-3 col-md-6 login-box-body">
            <div class="row">
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="login-logo-box">
                        <h3 class="logo-title">Neuro Analytics</h3><br>
                        <img class="img-responsive login-logo" src="/images/logoML.jpeg" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 login-box-form">
                    <form class="form-horizontal login-box-form-body">
                        <fieldset>
                            <!-- Form Name -->
                            <legend class="form-title" style="text-align: left">Already have an account? SignIn</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
                                    <input id="username" ng-model="username" type="text" placeholder="Username" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group">
                                <div class="col-md-12 input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></span>
                                    <input id="passwordinput" ng-model="password" type="password" placeholder="Password" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button id="singlebutton" ng-click="signIn()" class="btn btn-primary btn-block">Sign In</button>
                                </div>
                            </div>
                            <p style="text-align: right"><a ui-sref="signup">Don't have an account? Create one</a></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row blank-space" >
        {{control}}
    </div>
    <div class="row blank-space">
        {{control}}
    </div>
    <div class="row blank-space" >
        {{control}}
    </div>
    <div class="row blank-space">
        {{control}}
    </div>
    <div class="row blank-space" >
        {{control}}
    </div>
    <div class="row blank-space">
        {{control}}
    </div>
</div>
